name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        include:
          - { os: ubuntu-latest, name: linux-x86_64 }
          - { os: macos-latest,  name: macos-arm64  }
    runs-on: ${{ matrix.os }}
    name: build (${{ matrix.name }})

    steps:
      - uses: actions/checkout@v4

      - uses: freckle/stack-action@v5
        with:
          stack-build-arguments: --fast --pedantic --test --no-run-tests

      - name: Test
        run: stack test --fast
